<div class="header-area header-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9  d-none d-lg-block">
                    <div class="horizontal-menu">
                        <nav>
                            <ul id="nav_menu">
                                <li>
                                    <a href="/teacher/courses">
                                        <span>Course List</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="javascript:void(0)">
                                        <i class="ti-layout-sidebar-left"></i>
                                        <span>Sidebar Types
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="ti-pie-chart"></i>
                                        <span>Charts</span>
                                    </a>

                                </li>
                                <li class="mega-menu">
                                    <a href="javascript:void(0)">
                                        <i class="ti-palette"></i>
                                        <span>UI Features</span>
                                    </a>
                                </li>
                                <li class="mega-menu">
                                    <a href="javascript:void(0)">
                                        <i class="ti-layers-alt"></i>
                                        <span>Pages</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="ti-slice"></i>
                                        <span>icons</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-table"></i>
                                        <span>Tables</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="maps.html">
                                        <i class="ti-map-alt"></i>
                                        <span>maps</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- nav and search button -->
                <div class="col-lg-3 clearfix">
                    <div class="search-box">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <!-- mobile_menu -->
                <div class="col-12 d-block d-lg-none">
                    <div id="mobile_menu"></div>
                </div>
            </div>
        </div>
    </div>