                                </div>
                                <!--/tab-content-->

                            </div>
                            <!--/col-9-->
                        </div>
                    </div>

                </div>

                <!-- main content area end -->
    </div>
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../for-course-page/js/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../for-course-page/js/jquery.slicknav.min.js"></script>
    <script src="../for-course-page/js/jquery.slimscroll.min.js"></script>
    <script src="../for-course-page/js/metisMenu.min.js"></script>
</body>

</html>