<%- include('./layouts-teacher/header') %>
<button type="button" class="btn btn-success" style="margin: 25vh auto">
    <a href="/teacher/classroom?courseID=<%= course._id %>" style="color: #ffffff">Join Classroom</a>
</button>
<%- include('./layouts-teacher/footer') %>