<%- include('./layouts-teacher/header') %>
<div class="row" style="margin-bottom: 5vh;">
    <h5 class="pull-left">Import Learner To The Course</h5>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="/teacher/import-learner?courseID=<%= course._id %>" enctype="multipart/form-data">
            <div class="form-group">
                <label for="" class="pull-left">Choose a excel file</label>
                <input type="file" class="form-control" name="filetoupload">
            </div>
            <button type="submit" class="btn btn-primary pull-left">Submit</button>
        </form>
    </div>
</div>
<%- include('./layouts-teacher/footer') %>