<!-- <script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/jquery.form.min.js"></script> -->
<div id="addSlideModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Chọn slide (định dạng pdf)</h4>
                </div>
                <div class="modal-body">
                    <input id="file" class="form-control" type="file" name="file" />
                    <br>
                    <br>
                    <br>
                    <input id="btnUpload" class="btn btn-info" type="submit" value="submit" />
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <script>
    $(document).ready(function () {
        $('#btnUpload').on('click', function () {
            var fileData = $('#file').prop('files')[0];
            console.trace(fileData);
            var formData = new FormData();
            formData.append('file', fileData, fileData.name);
            $.ajax({
                url: '/upload-slide',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(res){
                    alert(res);
                }
            })
            return false;
        });
    });  
</script> -->