<div class="row">
    <nav class="navbar navbar-default nav-classroom" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="../images/logo-light.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-left: 90px">
            <ul class="nav navbar-nav ul-nav-classroom">
                <li>
                    <a href="" data-toggle="modal" data-target="#addSlideModal">Slide</a>
                </li>
                <li>
                    <a href="#">Tools</a>
                </li>
                <li>
                    <a href="#">Chat</a>
                </li>
                <li>
                    <a href="#">Playlist</a>
                </li>
                <li>
                    <a href="#">Participants</a>
                </li>
                <li>
                    <a href="#">Notes</a>
                </li>
                <li>
                    <a href="#">Invite</a>
                </li>
                <li>
                    <a href="" id="btnLeaveClass">Leave</a>
                </li>
            </ul>
        </div>
    </nav>
</div>